@media (max-width: 768px) {

    #body {
        background-color: #D9D9D9;
        font-family: 'aleo';
    }

    a {
        color: inherit;
    }

    .cabeçalho {
        background-color: #F5751D;
        width: 102%;
        height: 113px;
        top: -8px;
        left: -8px;
        position: absolute;
        text-align: center;
    }

    .logo {
        position: relative;
        height: 80%;
        top: 8%;
        left: 2.5%;
    }

    .sobre {
        color: #1A3947;
        border-left: 3px solid #1A3947;
        border-right: 3px solid #1A3947;
        position: relative;
        top: 109px;
        text-align: center;
        width: 100%;
        left: -4px;
        font-size: 25px;
        line-height: 35px;
    }

    .Tsobre {
        color: #1A3947;
        position: relative;
        font-size: 19px;
        top: 97px;
        left: 5px;
        text-align: center;
        padding: 33px;
    }

    #li {
        color: #1A3947;
        font-family: 'aleo';
        font-size: 16px;
        padding: 1.5px;
    }

    #lista {
        position: relative;
        top: 109px;
    }

    .rodapé {
        background-color: #F5751D;
        width: 104%;
        height: 164px;
        left: -8px;
        top: 118px;
        position: relative;
    }

    .cont {
        position: absolute;
        color: white;
        font-size: 25px;
        left: 41%;
    }

    .LogoEmail {
        height: 28px;
        position: absolute;
        left: 5%;
        top: 36%;
    }

    .gmail {
        font-size: 16px;
        position: absolute;
        left: 14%;
        top: 32%;
        color: white;
    }

    .LogoTel {
        height: 28px;
        position: absolute;
        left: 5%;
        top: 56%;
    }

    .telefone {
        font-size: 16px;
        position: absolute;
        left: 14%;
        top: 52%;
        color: white;
    }

    .LogoZap {
        height: 28px;
        position: absolute;
        left: 5%;
        top: 79%;
    }

    .zap {
        font-size: 16px;
        position: absolute;
        left: 14%;
        top: 75%;
        color: white;
    }

}