<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/Construções.css">
    <title> Construções e Reformas </title>
</head>

<body id="body">
    <header class="cabeçalho"> <a href="/"> <img src="/imagens/imagem_2024-01-21_201604964-removebg-preview.png"
                class="logo"></a> </header>
    <main>
        <div class="fundo">
            <h1 id="h1">Wanderlei Construção e Reformas</h1>
            <ul id="lista">
                <li id="li">Construímos casas de pequeno e grande porte. </li>
                <li id="li"> Construção de piscinas.</li>
                <li id="li"> Realizamos impermeabilização.</li>
                <li id="li"> Executamos assentamento de porcelanato e revestimentos em geral.</li>
                <li id="li"> Realizamos envernização de decks de piscinas.</li>
                <li id="li"> Executamos serviços de hidráulica.</li>
            </ul>
        </div>
        <div class="fundo2">
            <div class="fundo2"> <h1 id="h1" class="Instalação">Instalação de piscina e deck</h1>
                <div class="carousel">
                    <img src="/imagens/1706128141033.jpg" alt="Image 1" class="carousel-img" onclick="openModal('/imagens/1706128141033.jpg')">
                    <img src="/imagens/1706128141023.jpg" alt="Image 2" class="carousel-img" onclick="openModal('/imagens/1706128141023.jpg')">
                    <img src="/imagens/1706128141011.jpg" alt="Image 2" class="carousel-img" onclick="openModal('/imagens/1706128141011.jpg')">
                </div>
            </div>
            
                <div id="myModal" class="modal">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <img class="modal-content" id="modalImage">
                </div>

    </main>
    <footer class="rodapé">
        <h1 class="cont">Contato</h1> <a href="mailto:Vanderleidossantos47@gmail.com" id="a"> <img
                src="/imagens/o-email.png" class="LogoEmail">
            <h2 class="gmail">Vanderleidossantos47@gmail.com</h2>
        </a> <img src="/imagens/telefone.png" class="LogoTel">
        <h2 class="telefone">(11) 94142-0540</h2> <a href="https://api.whatsapp.com/send?phone=5511941420540"
            target="_blank" id="a"> <img src="/imagens/telefone (1).png" class="LogoZap">
            <h2 class="zap">WhatsApp</h2>
        </a>
    </footer>
</body>
<script src="js/script.js"></script>
</html>