<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/SobreNós.css">
    <title> Sobre nós </title>
</head>

<body id="body">
    <header class="cabeçalho">
        <a href="/">
            <img src="/imagens/imagem_2024-01-30_154144657-removebg-preview.png" class="logo"></a>
    </header>
    <main>

        <h1 class="sobre">O que nós somos?</h1>

        <p class="Tsobre">A Wanderlei Construção e Reformas é uma empresa renomada e estabelecida no mercado há mais de 20 anos, oferecendo serviços de alta qualidade no ramo da construção civil.
        </p>

        <h1 class="sobre">História</h1>
        <p class="Tsobre">Fundada há duas décadas pelo empreendedor Wanderlei, a empresa começou como uma pequena empreitada no ramo da construção civil, focada em serviços de pedreiro. Ao longo dos anos, com dedicação, comprometimento e trabalho árduo, a Wanderlei Construção e Reformas cresceu e se solidificou como uma referência no mercado, conquistando a confiança de clientes e parceiros.
        </p>

        <h1 class="sobre">Nossos Serviços</h1>

        <ul id="lista">
            <li id="li">Construímos casas de pequeno e grande porte. </li>
            <li id="li"> Construção de piscinas.</li>
            <li id="li"> Realizamos impermeabilização.</li>
            <li id="li"> Executamos assentamento de porcelanato e revestimentos em geral.</li>
            <li id="li"> Realizamos envernização de decks de piscinas.</li>
            <li id="li"> Executamos serviços de hidráulica.</li>
        </ul>
        
        <h1 class="sobre">Compromisso com a Qualidade</h1>
        <p class="Tsobre">Na Wanderlei Construção e Reformas, a qualidade é a nossa prioridade. Utilizamos materiais de primeira linha e adotamos técnicas modernas de construção para garantir resultados duradouros e de alta qualidade. Além disso, mantemos um rigoroso controle de qualidade em todas as etapas do processo, desde o planejamento até a execução final do projeto.</p>





    </main>

    <footer class="rodapé">
        <h1 class="cont">Contato</h1>

        <a href="mailto:ricardo@Vanderleidossantos47@gmail.com" id="a">
            <img src="/imagens/o-email.png" class="LogoEmail">
            <h2 class="gmail">Vanderleidossantos47@gmail.com</h2>
        </a>

        <img src="/imagens/telefone.png" class="LogoTel">
        <h2 class="telefone">(11) 94142-0540</h2>

        <a href="https://api.whatsapp.com/send?phone=5511941420540" target="_blank" id="a">
            <img src="/imagens/telefone (1).png" class="LogoZap">
            <h2 class="zap">WhatsApp</h2>
        </a>

    </footer>

</body>
</html>